bin/
.classpath
.project
*.iml

*.class

.mtj.tmp/

*.war
*.ear

hs_err_pid*

.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

.externalToolBuilder/

*.launch

.cproject

.buildpath

.target